flask==1.0.2
keras==2.2.4
# Starting with TensorFlow 1.6, binaries use AVX instructions which may not run on older CPUs
tensorflow==1.15.0
pillow==6.0.0
python-dotenv==0.10.2
opencv-python==4.1.0.25
matplotlib==3.0.3
# imresize has been removed from scipy as of version 1.3,
# as it is a duplicate of functionality available elsewhere - specifically, the Pillow module
scipy==1.2.1
